.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/Adam69Callouts/FileContentIndex/2faa84be-eede-4ca9-99cf-72f12bd1248f.vsidx
.vs/Adam69Callouts/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
